target/
translateIT2v4/uploadir-2/
translateIT2v4/uploadir-3/
translateIT2v4/uploadir-4/
translateIT2v1/
logs/

!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
